.productShadow {
    -fx-effect:dropshadow(three-pass-box, lightgrey, 1.5, 4, 2, 2);
}
#margin{
}
.buttonfix{
    -fx-border-style:solid;
    -fx-border-color:#909090;
}

.button:focused{
    -fx-background-color: rgb(0, 150, 51);
}
.button:hover{
    -fx-background-color: rgb(0, 150, 51);
}