.productShadow {
    -fx-effect: dropshadow(three-pass-box, lightgrey, 1.5, 4, 2, 2);
}

.category-button.category-button-active {
    -fx-background-color: rgb(0, 150, 51);
}

.category-button {
    -fx-background-color: rgb(228, 255, 228);
}

.category-button:hover {
    -fx-background-color: rgb(0, 150, 51);
}